@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:linear-gradient(to bottom, #6d6df2,#ffffff );
   
}

.top {
    background-color: #7d7df4;

}

h1{
    margin-top: 0px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    
    
}
.header{
    justify-content: space-between;
    display: flex;
    height: 100%;
    text-align: center;
    padding: 10px;
    
}

.logo img{
    height: auto;
    text-align: center;
    top: 0px;
    width: 300px;
    max-width: 100%;
    height: auto;
}

.navegar {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    float: right;
    font-size: 40px;


}

.navegar a {
    text-decoration: none;
    border-radius: 10px;
    border: 5px solid #0404ff;

}


ul a {
    text-transform: none;
    color: rgba(0, 0, 0, 0.479);

}

section {
    padding: 54px 0;
}

h3 {
    margin: 20px;
    font-size: 30px;
    margin-top: 30px;
    text-align: left;
    color: #0e0e0e;
}

h4{
    margin: 30px;
    color: #fff;
    font-size: 25px;
}

li{
    font-size: 30px;
    margin: 40px;
    text-transform: uppercase;
    padding: 10px;
    font-family: sans-serif;
    color: coral;
}

.banner p {
    margin: 30px;
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    color: #fff;    
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 30px;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 100px;
    background-color: rgb(48, 48, 155);
}

.imagem {

    display: flex;
    justify-content: center;
}

.mar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

.texto-main {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    font-family: sans-serif;
}

.desk {
    font-family: sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}